h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

label {
  font-size: 15px;
}

input {
  margin: 5px;
}

.centered {
  display: block;
  margin: 5px;
  text-align: center;
}

#ability-form-submit {
  display: block;
  margin: auto;
  margin-top: 40px;
}
