/*Universal Selectors*/
body {
  font-family: 'Marcellus SC', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url("../img/background.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(.6);
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.logo {
  position: absolute;
  right: 80px;
  top: 50px;
  height: 100px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #777777;
  opacity: .3;
}

a#begin {
  position: relative;
  top: 10px;
  width: 10vw;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: white;
  transition: all .3s;
}

a#begin:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
}

h5 {
  font-size: 16px;
  text-decoration: underline;
  padding-top: 10px;
}

h6 {
  font-size: 14px;
}

p, li {
  font-size: 1.2em;
}

label {
  font-size: 18px;
}

select {
  margin: 10px;
}

select#level-input, select.subrace-input {
  min-width: 110px;
}

input {
  margin: 5px;
}

.container {
  display: block;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.btn {
    outline: none !important;
    border-radius: 4px;
}

.centered {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.class-skills {
  display: none;
}

.ability-scores-display div {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
}

.ability-scores-display div:first-child {
  margin-top: 0;
}

.subraces div {
  display: inline-block;
}

#player-name-input, #character-name-input {
  position: relative;
  right: 10px;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  #character-race-class-level .centered {
    text-align: left;
  }
}

#ability-score-inputs label {
  margin-bottom: 20px;
  width: 100px;
}

#gnome-subraces {
  display: none;
}

/*ID Selectors*/
#wizard-spells, #cleric-spells {
  display: none;
}

#character-form-submit {
  background-color: black;
  margin-top: 75px;
  position: relative;
  z-index: 99;
}

#ability-roll {
 background-color: black;
 color: white;
 width: 350px;
 margin: 0 auto;
 border: 3px solid black;
 transition: all .3s;
}
#ability-roll:hover{
  background-color: white;
  color: black;
}

#ability-roll-instructions {
  display: block;
  text-align: center;
  opacity: 0;
  transition: opacity .8s;
  margin-bottom: 20px;
}

#ability-form-submit {
  display: block;
  margin: auto;
  margin-top: 40px;
}

#click-wiz-cantrips:hover, #click-wiz-1st:hover, #click-cleric-cantrips:hover, #click-cleric-1st:hover, #weapons-show:hover, #armor-show:hover {
  color: firebrick;
}

#click-description {
  font-size: .8em;
}

.ability-scores-display {
  padding-top: 5px;
}

#wiz-cantrips, #wiz-1st-level, #cleric-cantrips, #cleric-1st-level, #weapons-show, #armor-show {
  display: none;
}

#simple-melee, #simple-ranged, #martial-melee, #martial-ranged, #light-armor, #medium-armor, #heavy-armor, #shield-armor, #cloth-armor {
  display: none;
}

#output-sheet {
  display: none;
  clear: both;
}

#down-arrow {
  display: none;
  text-align: center;
  font-size: 15px;
}

#character-sheet {
  display: block;
  margin-top: 20px;
}

/*Media Queries*/
@media only screen and (max-width:1195px) {
  #player-name-input {
    display: block;
  }
}

@media only screen and (max-width:767px) {
  #race-input, #class-input, #level-input, .subrace-input {
    float: right;
  }
  .subraces div {
    display: block;
  }
}
